/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    padding: 0;
    margin: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}


@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

body, button, input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
    font-weight: 400;
}

body {
    min-width: 1060px;
}

a {
    color: #F9634E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

img {
    max-width: 100%;
}

.Body {
    padding: 35px 55px 155px;
    margin-left: 303px;
    margin-top: 63px;
    font-size: 18px;

    ul {
        list-style-type: square;
        margin-left: 25px;
        margin-bottom: 1.05rem;
    }

    ol {
        margin-left: 25px;
    }

    li {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 25px;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: all .1s cubic-bezier(.4,0,.2,1);
        border-bottom: 1px solid #f9634e;
        box-shadow: inset 0 -2px 0 0 #f9634e;
        font-weight: 700;

        &:hover {
            background: #f9634e;
            color: #fff;
        }
    }

    .code-block {
        margin-bottom: 25px;

        > pre {
            background: #f5f2f0;
            color: #000;
            text-shadow: 0 1px #fff;
            font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
            font-size: 14px;
            letter-spacing: .2px;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;
            tab-size: 4;
            hyphens: none;
            margin: .5em 0;
            overflow: auto;
            padding: 30px;
        }
    }

    code {
        background: #f5f2f0;
        color: #000;
        text-shadow: 0 1px #fff;
        font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
        font-size: 14px;
        letter-spacing: .2px;
        text-align: left;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        padding: .1em;
        border-radius: .3em;
    }
}